// Variables
$margin: 1rem;
$padding: 0.5rem;
$gap: 0.25rem;

$border-width: 1px;
$border-radius: 1rem;

$transition: all 0.15s ease-in-out;

:root {
	--background: #ffffff;
	--background-2: #dadada;
	--background-3: #c4c4c4;
	--background-0: #c4c4c4;
	--text: #232724;
	--border: 1px solid var(--background-3);
	--info: #2891be;
	--error: #f25f5c;
	--warning: #ffe066;
	--success: #70c1b3;

	--content-font-size: 17px;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background-0: hsl(220, 15%, 10%);
		--background: hsl(220, 15%, 16%);
		--background-2: hsl(220, 15%, 23%);
		--background-3: hsl(220, 15%, 33%);
		--text: white;
		--border: 1px solid var(--background-3);
	}
}

*,
*::before,
*::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	outline: none;
	border: none;
	background: none;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
		Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
		sans-serif;

	transition: $transition;
	transition-property: color;

	color: var(--text);

	scroll-behavior: smooth;
}

.error {
	color: var(--error);
}

html,
body {
	width: 100vw;
	height: 100vh;

	overflow-x: hidden;

	transition: $transition;
	transition-property: background;
}

body {
	&.light {
		--background: #ffffff;
		--background-2: #dadada;
		--background-3: #c4c4c4;
		--background-0: #c4c4c4;
		--text: #232724;
		--border: 1px solid var(--background-3);

		color-scheme: light;
	}

	&.dark {
		--background-0: hsl(220, 15%, 10%);
		--background: hsl(220, 15%, 16%);
		--background-2: hsl(220, 15%, 23%);
		--background-3: hsl(220, 15%, 33%);
		--text: white;
		--border: 1px solid var(--background-3);

		color-scheme: dark;
	}

	@mixin markdown {
		flex-grow: 2;
		display: flex;
		flex-direction: column;
		align-items: stretch;
		padding-bottom: $margin;

		font-size: var(--content-font-size);

		p.loading,
		p.error {
			align-self: center;

			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: center;
			gap: $gap;
			flex-wrap: wrap;
		}

		p.error {
			ion-icon {
				color: var(--error);
			}
			color: var(--error);
		}

		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			margin-top: 24px;
			margin-bottom: 16px;
			font-weight: 600;
			line-height: 1.25;

			tt,
			code {
				padding: 0 0.2em;
				font-size: inherit;
			}
		}

		h1 {
			font-weight: 700;
			font-size: 40px;
		}

		h2 {
			font-weight: 600;
			padding-bottom: 0.3em;
			font-size: 1.5em;
			border-bottom: var(--border);
		}

		h3 {
			font-weight: 600;
			font-size: 1.25em;
		}

		h4 {
			font-weight: 600;
			font-size: 1em;
		}

		h5 {
			font-weight: 600;
			font-size: 0.875em;
		}

		h6 {
			font-weight: 600;
			font-size: 0.85em;
			color: var(--background-3);
		}

		blockquote {
			margin: 0;
			padding: 0 1em;
			color: var(--background-3);
			border-left: var(--border);
			border-width: $border-width * 4;

			> :first-child {
				margin-top: 0;
			}

			> :last-child {
				margin-bottom: 0;
			}
		}

		ol {
			&[type="a"] {
				list-style-type: lower-alpha;
			}

			&[type="A"] {
				list-style-type: upper-alpha;
			}

			&[type="i"] {
				list-style-type: lower-roman;
			}

			&[type="I"] {
				list-style-type: upper-roman;
			}

			&[type="1"] {
				list-style-type: decimal;
			}

			&:not([type]) {
				list-style-type: decimal;
			}
		}

		ul,
		ol {
			margin-top: 0;
			margin-bottom: 0;
			padding-left: $margin * 2;
		}

		ol ol,
		ul ol {
			list-style-type: lower-roman;
		}

		ul ul,
		ul ol,
		ol ol,
		ol ul {
			margin-top: 0;
			margin-bottom: 0;
		}

		ul ul ol,
		ul ol ol,
		ol ul ol,
		ol ol ol {
			list-style-type: lower-alpha;
		}

		li + li {
			margin-top: 0.25em;
		}

		li {
			padding-left: $gap;
			> p {
				margin-top: 16px;
			}
		}

		* {
			max-width: 100%;
		}

		*:first-child {
			margin-top: 0 !important;
		}

		*:last-child {
			margin-bottom: 0 !important;
		}

		img {
			max-width: 100%;
			height: auto;
			box-sizing: content-box;

			border-radius: $border-radius;
			border: var(--border);

			margin: $margin auto;
		}

		code,
		kbd,
		pre,
		samp {
			font-family: monospace;
			font-size: 1em;
		}

		tt,
		code,
		samp {
			font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas,
				Liberation Mono, monospace;
			font-size: 12px;
		}

		samp {
			font-size: 85%;
		}

		del code {
			text-decoration: inherit;
		}

		pre {
			code {
				width: 100%;
				padding: $margin;
			}
		}

		code,
		tt {
			padding: 0.2em 0.4em;
			margin: 0;
			font-size: 85%;
			white-space: break-spaces;
			background-color: var(--background-2);
			border-radius: 6px;

			br {
				display: none;
			}
		}

		figure {
			margin: 1em 40px;
		}

		hr {
			box-sizing: content-box;
			overflow: hidden;
			background: var(--background-3);
			height: $border-width;
			padding: 0;
			margin: 24px 0;
			border: 0;
		}

		a {
			color: var(--info);
			text-decoration: none;

			&:hover {
				text-decoration: underline;
			}

			&:not([href]) {
				color: inherit;
				text-decoration: none;
			}
		}

		table {
			border-spacing: 0;
			border-collapse: collapse;
			display: block;
			width: max-content;
			max-width: 100%;
			overflow: auto;

			img {
				background-color: transparent;

				&[align="right"] {
					padding-left: 20px;
				}

				&[align="left"] {
					padding-right: 20px;
				}
			}

			th {
				font-weight: 600;
			}

			th,
			td {
				padding: 6px 13px;
				border: var(--border);
			}

			thead tr,
			tr:nth-child(2n) {
				background-color: var(--background-2);
			}

			tr {
				border-top: var(--border);
			}
		}

		dl {
			padding: 0;

			dt {
				padding: 0;
				margin-top: 16px;
				font-size: 1em;
				font-style: italic;
				font-weight: 600;
			}

			dd {
				padding: 0 16px;
				margin-bottom: 16px;
			}
		}

		details {
			summary {
				cursor: pointer;
			}
		}

		summary {
			h1,
			h2,
			h3,
			h4,
			h5,
			h6 {
				display: inline-block;
			}

			h1,
			h2 {
				padding-bottom: 0;
				border-bottom: 0;
			}
		}

		kbd {
			display: inline-block;
			padding: 3px 5px;
			font: 11px ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas,
				Liberation Mono, monospace;
			line-height: 10px;
			color: var(--color-fg-default);
			vertical-align: middle;
			background-color: var(--color-canvas-subtle);
			border: solid 1px var(--color-neutral-muted);
			border-bottom-color: var(--color-neutral-muted);
			border-radius: 6px;
			box-shadow: inset 0 -1px 0 var(--color-neutral-muted);
		}

		p {
			&:has(> img) {
				display: flex;
			}
		}

		p,
		blockquote,
		ul,
		ol,
		dl,
		table,
		pre,
		details {
			margin-top: 0;
			margin-bottom: 16px;
		}
	}

	// display: flex;
	// flex-direction: column;

	display: grid;
	grid-template-rows: auto 1fr;
	grid-template-columns: auto 1fr auto;

	@media (max-width: 1185px) {
		grid-template-columns: 1fr;
	}

	background-color: var(--background);

	ion-icon {
		transition: $transition;
		transition-property: color, transform;
	}

	svg,
	img {
		color: var(--text);
	}

	span.key {
		display: inline-flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		border-radius: 2px;
		padding: $gap;
		height: 29px;
		min-width: 32px;
		height: min-content;
		background-color: var(--text);
		color: var(--background);

		ion-icon {
			color: var(--background);
		}

		font-weight: 600;
	}

	input,
	button,
	a {
		-webkit-tap-highlight-color: transparent;
	}

	input,
	button {
		transition: $transition;
		font-size: 1rem;
	}

	button {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		gap: $gap;

		user-select: none;
		padding: $padding;

		border-radius: $border-radius;

		cursor: pointer;

		&.svg {
			border-radius: 50%;
		}

		&.light {
			background-color: var(--background-3);
		}

		&:hover {
			background-color: var(--background-2);
		}

		&:active {
			transform: scale(0.9);
		}

		&.search-bar {
			&:active {
				transform: unset;
				border-color: var(--info);
			}
		}
	}

	button.search-bar,
	div.search-bar {
		overflow: hidden;
		transition: none;

		flex-grow: 2;

		border-radius: $border-radius * 2;
		padding: 0;

		margin: $margin 0;

		border: $border-width * 2 solid transparent;

		&:hover {
			background-color: transparent;
		}

		input {
			flex-grow: 2;
		}

		div.button-inner {
			transition: $transition;

			margin: $gap;

			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: space-between;
			gap: $gap;

			border-radius: $border-radius * 2;

			flex-grow: 2;

			padding: $padding $margin;

			background-color: var(--background-2);

			div.shortcut {
				display: flex;
				flex-direction: row;
				align-items: center;
				gap: $gap;

				margin-left: auto;

				code {
					background-color: var(--background-0);

					font-size: 11px;

					display: block;
				}
			}
		}
	}

	code {
		transition: $transition;

		background-color: var(--background-3);
		padding: $gap;
		border-radius: calc($border-radius / 3);

		display: inline-block;

		font-family: "Courier New", Courier, monospace;
	}

	header.page-header {
		grid-row: 1 / 2;
		grid-column: 1 / -1;

		height: 5rem;

		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		gap: $padding;

		transition: $transition;

		background-color: var(--background);

		position: sticky;
		top: 0;
		left: 0;

		z-index: 100;

		padding: 0 $padding;

		border-bottom: var(--border);
		border-color: transparent;

		&.scrolled {
			border-color: var(--background-3);
		}

		section {
			display: flex;
			flex-direction: row;
			align-items: stretch;

			gap: $gap;

			&.main {
				flex-grow: 2;

				button.search-bar {
					max-width: 896px;
					margin: $margin auto $margin 0;

					@media (max-width: 768px) {
						width: max-content;
						flex-grow: 0;

						transition: $transition;

						&:hover {
							background-color: var(--background-2);
						}

						&:active {
							transform: scale(0.9);
						}

						border: none;
						border-radius: 50%;

						margin: $margin 0;
						margin-left: auto;

						div.button-inner {
							font-size: 0;

							background-color: transparent;

							margin: 0;
							padding: $padding;
							gap: 0;

							justify-content: center;

							ion-icon {
								font-size: $margin * 2;
							}

							div.shortcut {
								display: none;
							}
						}
					}
				}
			}

			&.toggle-nav-parent {
				@media (min-width: 1186px) {
					display: none;
				}

				button.toggle-nav {
					&[open="true"] {
						ion-icon {
							color: var(--info);
						}
					}
				}
			}

			div.logo {
				display: flex;
				flex-direction: row;
				align-items: center;
				gap: $padding;

				padding: $padding;
				user-select: none;

				cursor: pointer;

				transition: $transition;

				h1.no-title {
					color: var(--info);
				}

				&:hover {
					opacity: 0.75;
				}

				&:active {
					opacity: 0.5;
				}

				* {
					max-height: calc(5rem - $gap);
				}
			}
		}
	}

	// main.page {
	// flex-grow: 2;
	// display: flex;
	// flex-direction: row;
	// justify-content: space-between;

	// width: 100%;

	// @media (max-width: 1185px) {
	// 	position: relative;
	// }

	aside.nav {
		grid-row: 2 / 3;
		grid-column: 1 / 2;

		align-self: flex-start;
		position: sticky;
		top: 5rem;
		left: 0;
		z-index: 50;

		padding-top: $margin;
		padding-right: $gap;

		height: max-content;
		max-height: calc(100vh - 5rem);
		overflow-y: auto;

		min-width: 300px;

		transition: $transition;
		transition-property: background;

		// border-right: var(--border);

		display: flex;
		flex-direction: column;

		background-color: var(--background);

		user-select: none;

		section.folder {
			> h1 {
				padding: $padding $margin;
				margin-bottom: $padding;

				text-transform: uppercase;
				font-size: 1rem;

				cursor: pointer;

				transition: $transition;

				display: flex;
				flex-direction: row;
				align-items: center;
				justify-content: space-between;
				gap: $gap;

				border-top-right-radius: $border-radius;
				border-bottom-right-radius: $border-radius;

				div.title {
					display: flex;
					flex-direction: row;
					align-items: center;
					gap: $gap;
				}

				&:hover {
					background-color: var(--background-3);
				}

				&.active {
					background-color: var(--background-3);

					div.title {
						color: var(--info);
					}

					ion-icon {
						color: var(--info);
					}
				}
			}

			&:not([depth="0"]) {
				&:not(.open) {
					button,
					section {
						display: none;
					}
				}
			}

			&.open {
				> h1 {
					ion-icon#arrow {
						transform: rotate(-180deg);
					}
				}
			}

			button {
				justify-content: flex-start;
				border-bottom-left-radius: 0;
				border-top-left-radius: 0;

				padding: $padding $margin;

				&:last-of-type {
					margin-bottom: $padding;
				}

				&.active {
					background-color: var(--background-3);
					color: var(--info);

					ion-icon {
						color: var(--info);
					}
				}

				&:active {
					transform: unset;
				}

				width: 100%;
			}
		}

		@media (max-width: 1185px) {
			position: absolute !important;
			top: 5rem !important;
			left: 0 !important;

			padding-right: 0;

			grid-row: unset;
			grid-column: unset;

			z-index: 100;

			display: none;

			width: 100%;
			height: calc(100% - 5rem);

			&[open="true"] {
				display: flex;
			}

			section {
				button,
				h1 {
					border-radius: 0 !important;
				}
			}
		}
	}

	article.content {
		grid-row: 2 / 3;
		grid-column: 2 / 3;

		flex-grow: 2;
		display: flex;
		flex-direction: column;

		padding: $margin $margin * 2;

		width: 896px;

		max-width: 896px;

		margin: 0 auto;

		@media (min-width: 1185px) {
			margin: 0 auto;
		}

		@media (max-width: 1535px) {
			margin-right: 100%;
		}

		@media (max-width: 1185px) {
			grid-row: unset;
			grid-column: unset;
			max-width: 100vw;
		}

		div.article-inner {
			@include markdown;
		}

		> footer {
			transition: $transition;

			border-top: var(--border);
			padding-top: $margin;

			display: flex;
			flex-direction: row;
			justify-content: space-between;
			gap: $gap;

			section {
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				gap: $gap;

				p.credit {
					a {
						color: var(--info);
					}
				}

				p.copyright b {
					color: var(--info);
				}
			}
		}
	}

	aside.inner-nav {
		grid-row: 2 / 3;
		grid-column: 3 / 4;

		height: max-content;
		max-height: calc(100vh - 5rem);
		overflow-y: auto;

		@media (max-width: 1185px) {
			grid-row: unset;
			grid-column: unset;
		}

		user-select: none;

		position: sticky;
		top: 5rem;
		right: 0;

		padding-top: $margin;

		padding-right: 0;

		width: 320px;

		display: flex;
		flex-direction: column;
		gap: $gap;

		@media (max-width: 1535px) {
			display: none;
		}

		p.head {
			text-transform: uppercase;
			font-weight: 600;
		}

		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			cursor: pointer;

			// transition: $transition;

			min-height: 2.5rem;
			line-height: 1.5rem;

			justify-content: flex-start;
			border-radius: $border-radius;
			border-bottom-right-radius: 0;
			border-top-right-radius: 0;

			padding: $padding $margin;

			width: 100%;
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;

			&.active {
				background-color: var(--background-3);
				color: var(--info);
			}

			&:hover {
				background-color: var(--background-3);
			}

			&:active {
				transform: unset;
			}
		}

		h1 {
			font-size: 1rem;
		}

		h2 {
			font-size: 0.95rem;
		}

		h3 {
			font-size: 0.9rem;
		}

		h4 {
			font-size: 0.85rem;
		}

		h5 {
			font-size: 0.8rem;
		}

		h6 {
			font-size: 0.75rem;
		}
	}
	// }

	div.search-modal-container {
		display: none;

		&[open="true"] {
			display: flex;
		}

		position: absolute;
		top: 0;
		left: 0;

		z-index: 1000;

		width: 100vw;
		height: 100vh;

		background-color: #343a46cc;

		flex-direction: column;
		align-items: center;
		justify-content: center;

		padding: $margin;

		div.search-modal {
			display: flex;
			flex-direction: column;

			background-color: var(--background);
			border-radius: $border-radius;

			height: 100%;
			width: 100%;

			max-width: 768px;

			header {
				margin: $padding $margin;
				display: flex;
				flex-direction: row;
				gap: $gap;

				div.search-bar {
					margin: 0;
					flex-grow: 2;
				}

				button.cancel-search {
					display: none;
					color: var(--info);
				}
			}

			div.search-content {
				flex-grow: 2;
				display: flex;
				flex-direction: column;

				overflow-y: auto;

				div.no-results {
					display: flex;
					flex-direction: column;
					align-items: center;
					gap: $padding;
					padding: $margin;

					ion-icon {
						font-size: 4rem;

						color: var(--error);
					}

					p.query {
						font-weight: 600;

						text-align: center;
					}

					h6 {
						font-weight: 600;
						font-size: 0.85em;
						color: var(--background-3);
					}
				}

				div.recent-searches,
				div.results {
					flex-grow: 2;
					display: flex;
					flex-direction: column;

					h1 {
						padding-left: $margin;
						padding-bottom: $padding;

						text-transform: uppercase;

						font-size: 1rem;
					}

					button {
						justify-content: space-between;
						border-bottom-left-radius: 0;
						border-top-left-radius: 0;

						padding: $padding $margin;
						margin-right: $margin;
						margin-bottom: $gap;

						width: 100%;
						max-width: calc(100% - $margin);

						div {
							display: flex;
							flex-direction: row;
							align-items: center;
							gap: $margin;

							span {
								align-items: flex-start;
								display: flex;
								flex-direction: column;
								gap: $gap;

								text-align: left;

								p {
									font-weight: 600;
								}

								h6 {
									font-weight: 600;
									font-size: 0.85em;
									color: var(--background-3);
								}
							}
						}

						&:hover {
							background-color: var(--info);
						}

						&.active {
							background-color: var(--background-3);
							color: var(--info);

							ion-icon {
								color: var(--info);
							}
						}

						&:active {
							transform: unset;
						}
					}
				}
			}

			> footer {
				margin: $margin;
				padding-top: $margin;

				border-top: var(--border);

				display: flex;
				flex-direction: row;
				align-items: center;
				justify-content: space-between;
				gap: $gap;

				p {
					display: flex;
					flex-direction: row;
					align-items: center;
					flex-wrap: wrap;
					gap: $padding;
					// color: var(--background-3);
				}
			}
		}

		@media (max-width: 1185px) {
			padding: 0;

			div.search-modal {
				border-radius: 0;

				max-width: unset;

				> header {
					button.cancel-search {
						display: flex;
					}
				}

				> footer {
					display: none;
				}
			}
		}
	}
}
