@use "../util/index" as *;

div.article-inner {
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		div.anchor,
		div.print {
			margin: auto 0 auto $padding;
			display: inline-block;

			vertical-align: middle;

			transition: $transition;
			transition-property: opacity;

			ion-icon,
			div.ionicon {
				font-size: inherit;
			}

			cursor: pointer;

			opacity: 0;
			pointer-events: none;
		}

		div.anchor {
			ion-icon,
			div.ionicon {
				color: var(--background-3) !important;
				fill: var(--background-3) !important;
				stroke: var(--background-3) !important;
			}

			&:active {
				ion-icon,
				div.ionicon {
					color: var(--success) !important;
					fill: var(--success) !important;
					stroke: var(--success) !important;
				}
			}
		}

		&:hover {
			div.anchor,
			div.print {
				opacity: 1;
				pointer-events: auto;
			}
		}

		@media print {
			div.anchor,
			div.print {
				display: none;
			}
		}
	}
}
