@use "./variables" as *;

/* Custom markdown translator that handles the contents of an article display */
@mixin markdown {
	position: relative;

	flex-grow: 2;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	padding-bottom: $margin;

	font-size: var(--content-font-size);

	// ion-icons placed within the content of the article.
	ion-icon,
	svg.ionicon {
		color: var(--text);
		fill: var(--text);
		stroke: var(--text);
	}

	p.loading,
	p.error {
		align-self: center;

		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		gap: $gap;
		flex-wrap: wrap;
	}

	p.error {
		ion-icon {
			color: var(--error);
		}
		color: var(--error);
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		margin-top: 24px;
		margin-bottom: 16px;
		font-weight: 600;
		line-height: 1.25;

		tt,
		code {
			padding: 0 0.2em;
			font-size: inherit;
		}
	}

	h1 {
		font-weight: 700;
		font-size: 40px;
	}

	h2 {
		font-weight: 600;
		padding-bottom: 0.3em;
		font-size: 1.5em;
		border-bottom: var(--border);
	}

	h3 {
		font-weight: 600;
		font-size: 1.25em;
	}

	h4 {
		font-weight: 600;
		font-size: 1em;
	}

	h5 {
		font-weight: 600;
		font-size: 0.875em;
	}

	h6 {
		font-weight: 600;
		font-size: 0.85em;
		color: var(--background-3);
	}

	blockquote {
		margin: 0;
		padding: 0 1em;
		color: var(--background-3);
		border-left: var(--border);
		border-width: $border-width * 4;

		> :first-child {
			margin-top: 0;
		}

		> :last-child {
			margin-bottom: 0;
		}
	}

	ol {
		&[type="a"] {
			list-style-type: lower-alpha;
		}

		&[type="A"] {
			list-style-type: upper-alpha;
		}

		&[type="i"] {
			list-style-type: lower-roman;
		}

		&[type="I"] {
			list-style-type: upper-roman;
		}

		&[type="1"] {
			list-style-type: decimal;
		}

		&:not([type]) {
			list-style-type: decimal;
		}
	}

	ul,
	ol {
		margin-top: 0;
		margin-bottom: 0;
		padding-left: $margin * 2;
	}

	ol ol,
	ul ol {
		list-style-type: lower-roman;
	}

	ul ul,
	ul ol,
	ol ol,
	ol ul {
		margin-top: 0;
		margin-bottom: 0;
	}

	ul ul ol,
	ul ol ol,
	ol ul ol,
	ol ol ol {
		list-style-type: lower-alpha;
	}

	li + li {
		margin-top: 0.25em;
	}

	li {
		padding-left: $gap;
		> p {
			margin-top: 16px;
		}
	}

	* {
		max-width: 100%;
	}

	*:first-child {
		margin-top: 0 !important;
	}

	*:last-child {
		margin-bottom: 0 !important;
	}

	img {
		max-width: 100%;
		height: auto;
		box-sizing: content-box;

		border-radius: $border-radius;
		border: var(--border);

		margin: $margin auto;
	}

	code,
	pre,
	samp {
		font-family: "Courier New", Courier, monospace;
		font-size: 1em;
	}

	tt,
	code,
	samp {
		font-family: "Courier New", Courier, monospace;
		font-size: 12px;
	}

	samp {
		font-size: 85%;
	}

	del code {
		text-decoration: inherit;
	}

	pre {
		code {
			width: 100%;
			padding: $margin;
		}
	}

	code,
	tt {
		padding: 0.2em 0.4em;
		margin: 2px 0;
		font-size: 85%;
		background-color: var(--background-2);
		border-radius: 6px;

		br {
			display: none;
		}
	}

	kbd {
		transition: $transition;
		display: inline-block;
		padding: 3px 5px;
		font-size: 11px;
		font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
			Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
			sans-serif;
		line-height: 10px;
		color: var(--text);
		vertical-align: middle;
		background-color: var(--background);
		border: solid 1px var(--background-0);
		border-radius: 6px;
		box-shadow: inset 0 -1px 0 var(--background-0);

		svg,
		ion-icon {
			color: var(--text);
			fill: var(--text);
			stroke: var(--text);
		}
	}

	figure {
		margin: 1em 40px;
	}

	hr {
		box-sizing: content-box;
		overflow: hidden;
		background: var(--background-3);
		height: $border-width;
		padding: 0;
		margin: 24px 0;
		border: 0;
	}

	a {
		color: var(--info);
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}

		&:not([href]) {
			color: inherit;
			text-decoration: none;
		}
	}

	table {
		border-spacing: 0;
		border-collapse: collapse;
		display: block;
		width: max-content;
		max-width: 100%;
		overflow: auto;

		img {
			background-color: transparent;

			&[align="right"] {
				padding-left: 20px;
			}

			&[align="left"] {
				padding-right: 20px;
			}
		}

		th {
			font-weight: 600;
		}

		th,
		td {
			padding: 6px 13px;
			border: var(--border);
		}

		thead tr,
		tr:nth-child(2n) {
			background-color: var(--background-2);
		}

		tr {
			border-top: var(--border);
		}
	}

	dl {
		padding: 0;

		dt {
			padding: 0;
			margin-top: 16px;
			font-size: 1em;
			font-style: italic;
			font-weight: 600;
		}

		dd {
			padding: 0 16px;
			margin-bottom: 16px;
		}
	}

	details {
		summary {
			cursor: pointer;
		}
	}

	summary {
		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			display: inline-block;
		}

		h1,
		h2 {
			padding-bottom: 0;
			border-bottom: 0;
		}
	}

	p {
		&:has(> img) {
			display: flex;
		}
	}

	p,
	blockquote,
	ul,
	ol,
	dl,
	table,
	pre,
	details {
		margin-top: 0;
		margin-bottom: 16px;
	}
}
