// Variables
$margin: 1rem;
$padding: 0.5rem;
$gap: 0.25rem;

$border-width: 1px;
$border-radius: 1rem;
$border-radius-less: 6px;

$transition: all 0.15s ease-in-out;
$box-shadow: #63636333 0px 2px 8px 0px;
